<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
   <div id="app">
       <span> {{ color[index] }} </span></p>

       <div
       v-if="index==0 "
       style="background-color: green;
              width: 40px;  height: 40px;
              border: solid 1px white;
       "
     ></div>
     <div
        v-else
        style="background-color: grey;
               width: 40px;  height: 40px;
               border: solid 1px white;
        "
      ></div>
      <div
        v-if="index==1"
        style="background-color: yellow;
               width: 40px;  height: 40px;
               border: solid 1px white;
        "
      ></div>
      <div
        v-else
        style="background-color: grey;
               width: 40px;  height: 40px;
               border: solid 1px white;
        "
      ></div>
      <div
        v-if="index==2"
        style="background-color: red;
               width: 40px;  height: 40px;
               border: solid 1px white;
        "
      ></div>
      <div
        v-else
        style="background-color: grey;
               width: 40px;  height: 40px;
               border: solid 1px white;
        "
      ></div>

    <button @click = 'changeIndex()'>เปลี่ยนไฟ</button>
  
   </div>
   <script>
    var app = new Vue({
        el: "#app",
        data:{
           color: ['green','yellow','red'],
            index : 0
    },
    
    methods: {
    changeIndex: function(){
        this.index++
        if (this.index==3){
            this.index=0
        }
    }},
        
    })













</script>







</body>
</html>